#include <windows.h>
#include "gstuff.h"

GSTUFF ICON    bfly.ico

/////////////////////////////////////////////////////////////////////////////
//
//  font Dialog
//

FONTBOX DIALOG DISCARDABLE  32, 32, 330, 270
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Select font to display"
FONT FONT_HEIGHT, "Verdana"
BEGIN
    // CTEXT    text,                   id,          x,  y, width, height [, style [, extended-style]]
    CTEXT       "Font Selection dialog",IDC_STATIC, 0, 10, 200, 20

    // PUSHBUTTON text, id, x, y, width, height [[, style [[, extended-style]]]]
    PUSHBUTTON  "Okay", IDC_FSELECT, 10, 30, 100, 20
    // COMBOBOX id, x, y, width, height [, style [, extended-style]]
    COMBOBOX    IDC_FCOMBO, 10, 60, 80, 120, CBS_DROPDOWN | WS_VSCROLL
    // COMBOBOX    IDC_FCOMBO, 10, 60, 80, 200, WS_VSCROLL
END

